form {
  text-align: center;
  margin: 20px;
  margin-right: 50px;
}

select {
  margin: 15px;
}

body {
  background: url(../img/parlor.jpg);
}


.card{
margin: 10px;
background-color: rgb(230, 207, 177);
text-align: center;
}

label {
  text-indent: 30px;
}

button {
  text-align: center;
  margin: 25px;
  margin-left: 50px; 
}

img {
  margin: 20px; 
}

